In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
diabetes_dataset = pd.read_csv('Final_dataset.csv')

In [4]:
diabetes_dataset.head(5)

,Pregnancies,Plasma Glucose,Blood Pressure,Skin Thickness,Insulin,BMI,Diabetes Pedigree,Age,Diabetic
0,0,171,80,34,23,43.509726,1.213191,21,0
1,8,92,93,47,36,21.240576,0.158365,23,0
2,7,115,47,52,35,41.511523,0.079019,23,0
3,9,103,78,25,304,29.582192,1.282870,43,1
4,1,85,59,27,35,42.604536,0.549542,22,0

In [5]:
diabetes_dataset.shape

(17768, 9)

In [6]:
diabetes_dataset.describe()

,Pregnancies,Plasma Glucose,Blood Pressure,Skin Thickness,Insulin,BMI,Diabetes Pedigree,Age,Diabetic
count,17768.000000,17768.000000,17768.000000,17768.000000,17768.000000,17768.000000,17768.000000,17768.000000,17768.000000
mean,3.305268,109.920362,70.895655,27.569338,128.859523,31.607440,0.410219,30.604232,0.334984
std,3.385764,32.348240,17.183449,15.080551,131.722658,9.518938,0.371202,12.090103,0.471998
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,0.000000,86.000000,59.000000,14.000000,34.000000,21.589648,0.146095,22.000000,0.000000
50%,2.000000,107.000000,72.000000,29.000000,78.000000,31.900000,0.236038,25.000000,0.000000
75%,6.000000,132.000000,84.000000,40.000000,188.000000,38.900337,0.618056,37.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,846.000000,80.600000,2.420000,81.000000,1.000000

In [8]:
diabetes_dataset['Diabetic'].value_counts()

0    11816
1     5952
Name: Diabetic, dtype: int64

In [9]:
#get the mean for all those 0 and 1
diabetes_dataset.groupby('Diabetic').mean()

,Pregnancies,Plasma Glucose,Blood Pressure,Skin Thickness,Insulin,BMI,Diabetes Pedigree,Age
Diabetic,,,,,,,,
0,2.394888,105.800948,69.828368,26.122630,107.737221,30.124359,0.36573,27.808734
1,5.112567,118.098286,73.014449,30.441364,170.791835,34.551675,0.49854,36.153898

In [10]:
#separating the data and labels
X = diabetes_dataset.drop(columns = 'Diabetic', axis=1)
Y = diabetes_dataset['Diabetic']

In [11]:
print(X)

       Pregnancies  Plasma Glucose  Blood Pressure  Skin Thickness  Insulin  \
0                0             171              80              34       23
1                8              92              93              47       36
2                7             115              47              52       35
3                9             103              78              25      304
4                1              85              59              27       35
...            ...             ...             ...             ...      ...
17763            2              75              64              24       55
17764            8             179              72              42      130
17765            6              85              78               0        0
17766            0             129             110              46      130
17767            2              81              72              15       76

             BMI  Diabetes Pedigree  Age
0      43.509726           1.213191   21
1      21.240576           0.158365   23
2      41.511523           0.079019   23
3      29.582192           1.282870   43
4      42.604536           0.549542   22
...          ...                ...  ...
17763  29.700000           0.370000   33
17764  32.700000           0.719000   36
17765  31.200000           0.382000   42
17766  67.100000           0.319000   26
17767  30.100000           0.547000   25

[17768 rows x 8 columns]

In [12]:
print (Y)

0        0
1        0
2        0
3        1
4        0
        ..
17763    0
17764    1
17765    0
17766    1
17767    0
Name: Diabetic, Length: 17768, dtype: int64

In [13]:
#data standardization

scaler = StandardScaler()

In [14]:
scaler.fit(X)

StandardScaler()

In [15]:
standardized_data = scaler.transform(X)

In [16]:
print (standardized_data)

[[-0.97625251  1.88824357  0.52984712 ...  1.25041481  2.1632265
  -0.79441031]
 [ 1.38664827 -0.5539982   1.28641035 ... -1.08910845 -0.67850188
  -0.62898109]
 [ 1.09128567  0.15703422 -1.39065954 ...  1.04049027 -0.89226309
  -0.62898109]
 ...
 [ 0.79592307 -0.77039937  0.41345278 ... -0.04280428 -0.0760236
   0.94259645]
 [-0.97625251  0.58983655  2.27576227 ...  3.72873097 -0.24574716
  -0.38083727]
 [-0.38552732 -0.89405718  0.06426975 ... -0.15836664  0.36849049
  -0.46355188]]

In [17]:
X = standardized_data
Y = diabetes_dataset['Diabetic']

In [18]:
print (X)
print (Y)

[[-0.97625251  1.88824357  0.52984712 ...  1.25041481  2.1632265
  -0.79441031]
 [ 1.38664827 -0.5539982   1.28641035 ... -1.08910845 -0.67850188
  -0.62898109]
 [ 1.09128567  0.15703422 -1.39065954 ...  1.04049027 -0.89226309
  -0.62898109]
 ...
 [ 0.79592307 -0.77039937  0.41345278 ... -0.04280428 -0.0760236
   0.94259645]
 [-0.97625251  0.58983655  2.27576227 ...  3.72873097 -0.24574716
  -0.38083727]
 [-0.38552732 -0.89405718  0.06426975 ... -0.15836664  0.36849049
  -0.46355188]]
0        0
1        0
2        0
3        1
4        0
        ..
17763    0
17764    1
17765    0
17766    1
17767    0
Name: Diabetic, Length: 17768, dtype: int64

In [19]:
#test and train split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [20]:
print (X.shape, X_train.shape, X_test.shape)

(17768, 8) (14214, 8) (3554, 8)

In [21]:
# training the model

classifier = svm.SVC(kernel='linear')

In [22]:
#training the SVM Classifier

classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [24]:
# model evaluation
# accuracy score

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy score of the training data :', training_data_accuracy)

Accuracy score of the training data : 0.7761362037427888

In [28]:
# accuracy of the test data

X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score of the test data :', test_data_accuracy)

Accuracy score of the test data : 0.7743387732132808

In [34]:
# making a predictive system 

input_data = (0,180,66,19,0,42,1.893,25)

#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0] ==0):
    print('The person is not Diabetic')
else:
    print('The person is Diabetic')

[[-0.97625251  2.16647364 -0.28491328 -0.56825374 -0.97829145  1.091808
   3.99464784 -0.46355188]]
[1]
The person is Diabetic

C:\Users\SHRADDHA\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(